:root {
  --color-interactive: 50, 40, 50;
  --blending: hard-light;
  --blue: 130, 190, 254;
  --purple: 200, 80, 190;
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0%, 100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
}

@keyframes moveHorizontal {
  0%, 100% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
}

svg {
  display: none;
}

.g1, .g2, .g3, .g4, .g5, .g6 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.30;
}

.g1, .g5 {
  width: 200%;
  height: 200%;
  top: calc(10%);
  left: calc(50% - 90%);
  animation: moveVertical 90s ease infinite;
}

.g2, .g4 {
  width: 200%;
  height: 200%;
  top: calc(5%);
  left: calc(50% - 90% / 2);
  animation: moveInCircle 90s ease infinite;
}

.g3, .g6 {
  width: 100%;
  height: 100%;
  top: calc(50% - 90% / 2);
  left: calc(50% - 90% / 2);
  animation: moveInCircle 90s linear infinite;
}

.g1, .g3, .g5 {
  background: radial-gradient(rgba(var(--purple), 0.8) 0, rgba(var(--blue), 15%), #00000000 60%) no-repeat;
}

.g2, .g4 {
  background: radial-gradient(rgba(var(--blue), 0.8) 0, rgba(var(--purple), 15%), #00000000 60%) no-repeat;
}

.g6 {
  transform-origin: calc(50% - 1500px) calc(50% + 200px);
}

.g1, .g2, .g3, .g4 {
  mix-blend-mode: var(--blending);
}

.g5 {
  transform-origin: calc(50% - 800px) calc(50% + 200px);
}
