#Presentation {
    .presentation-text-container {
        .shadow-text-presentation{
            text-shadow:4px 8px 10px #b969ffa7;
        }

        .presentation-text-1{
            animation: presentation-animation 0.3s ease-in; 
        }
        
        .presentation-text-2{
            animation: presentation-animation 0.6s ease-in; 
        }
        
        .presentation-text-3{
            animation: presentation-animation 0.9s ease-in;
        }

        .presentation-text{
            overflow: hidden;
        }
    }
}
.gradient-mask-silver {
    background: linear-gradient(180deg, #fff 50%, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@keyframes presentation-animation {
    0%{
        opacity: 0;
        transform: translateY(110%)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
