#Presentation {
        .shadow-text-presentation{
            animation: presentation-shadow-animation 1s linear;
            text-shadow:4px 8px 14px #c27dffcd;
        }

        .presentation-text-1{
            animation: presentation-animation 0.6s ease-in;
        }
        
        .presentation-text-2{
            animation: presentation-animation 1.2s ease-in;  
        }
        
        .presentation-text-3{
            animation: presentation-animation 1.8s ease-in;
        }

        .presentation-text{
            overflow: visible;
            animation: presentation-hidden 1.8s ease-in;
        }
}
.gradient-mask-silver {
    background: linear-gradient(180deg, #fff 50%, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@keyframes presentation-animation {
    0%{
        opacity: 0;
        transform: translateY(110%)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes presentation-hidden {
    0%{
  overflow: hidden;
    }
    100%{
        overflow: hidden;
    }
}
@keyframes presentation-shadow-animation{
    0%{
        text-shadow:-10px 0px 30px #b969ff00;
    }
    100%{
        text-shadow:4px 8px 14px #c27dffcd;
    }
}

#CallToAction{
    .input-action-container{
.button-clone{
animation: button-pulse-animation 2s forwards infinite;
transform-origin: center center;
filter: brightness(2);
}
    }
}

@keyframes button-pulse-animation {
    0%{
        scale: 1;
        opacity: 0.5;
    }
    100%{
        scale: 1.5;
        opacity: 0;
    }
}