@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow-x: hidden;
  position: relative;
  color: #fff;
}

.cursor-div{
  border: 22px solid;
  background: #5a1687a1;
  transition: width 0.2s ease, height 0.2s ease;
  mix-blend-mode: difference;
}

.gradient-mask-silver {
  background: linear-gradient(180deg, #fff 50%, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-semitransparent {
  background: linear-gradient(#bcb9b93a, #5c5c5c2f);
}


.bg-gradient-socialmedia {
  background: linear-gradient(180deg, #e1e1e1c6 50%, #333);
  border-radius: 10px;
}

@keyframes ariseIn {
  0% {
    opacity: 0;
    translate: 0px 100px;
  }

  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ariseAnimation {
  animation: ariseIn 1s forwards;
}

.fadeIn {
  animation: opacityIn 1s forwards;
}

@media (width > 650px) {

  *{
    cursor: none !important;
  }
}

.bg-gradient-action{
  background: linear-gradient(356deg, rgb(100, 88, 171), rgba(107,12,172,1), rgb(105, 140, 246)); 
}


.image-perspective{
  transform: rotateX(0deg) rotateY(43deg);
  transform-style: preserve-3d;
}

.highlight-text-headers{
  color: #ffffff;
  text-shadow: 0px 2px 6px rgba(37, 127, 21, 0.713);
} 

.highlight-text{
  font-weight:700;
  color: #efd6ff;
  text-shadow: 0px 2px 6px rgba(95, 188, 255, 0.713);
}