#Presentation {
    .gradient-mask-container {
        background: linear-gradient(235deg, #304FFE, #00ACC1, #4A148C);
        max-width: 1100px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        p,
        h1 {
            letter-spacing: 2px;
        }

        h1{
            background: radial-gradient(#657cff3a 10%, #00000000 60%);
        }
    }
}