.menu {
    width: 40px;
    height: 25px;
  }
  
  .menu-button {
    width: 100%;
    display: block;
    height: 100%;
    cursor: pointer;
  }
  
  .menu-line {
    border-radius: 5px;
    display: block;
    height: 4px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: all 0.3s;
  }
  
  .triggerLabelActive .menu-line:nth-child(1) {
    transform-origin: center;
    transform: translateY(9px) rotate(45deg);
  }
  
  .triggerLabelActive .menu-line:nth-child(2) {
    opacity: 0;
  }
  
  .triggerLabelActive .menu-line:nth-child(3) {
    transform-origin: center;
    transform: translateY(-9px) rotate(-45deg);
  }