@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #fff;
  background: linear-gradient(rgba(33, 33, 33, 0.3),
      rgba(57, 73, 171, 0.3) 10%,
      rgba(33, 33, 33, 0.3) 50%,
      rgba(33, 33, 33, 0.3) 80%,
      rgba(57, 73, 171, 0.3));
  background-color: #212121;
}

.gradient-mask-silver {
  background: linear-gradient(180deg, #fff 50%, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-semitransparent {
  background: linear-gradient(#bcb9b93a, #5c5c5c2f);
}


.bg-gradient-socialmedia {
  background: linear-gradient(180deg, #e1e1e1c6 50%, #333);
  border-radius: 10px;
}

@keyframes ariseIn {
  0% {
    opacity: 0;
    translate: 0px 100px;
  }

  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ariseAnimation {
  animation: ariseIn 1s forwards;
}

.fadeIn {
  animation: opacityIn 2s forwards;
}



@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(100%, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(100%, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(100%, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url("/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}

.twinkling {
  width: 100%;
  height: 100%;
  background: transparent url("/twinkling.svg") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

  -moz-animation: move-background 80s linear infinite;
  -ms-animation: move-background 80s linear infinite;
  -o-animation: move-background 80s linear infinite;
  -webkit-animation: move-background 80s linear infinite;
  animation: move-background 80s linear infinite;

}
