@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  position: relative;
  color: #fff;
  background: linear-gradient(rgba(33, 33, 33, 0.3) 10%,
      rgba(57, 73, 171, 0.3),
      rgba(33, 33, 33, 0.3) 50%,
      rgba(33, 33, 33, 0.3) 80%,
      rgba(57, 73, 171, 0.3));
  background-color: #212121;
}

